In [1]:
import pandas as pd
from scipy.interpolate import interp1d
from scipy.stats import norm
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import price_data as price
import statistics
import time
from datetime import date,datetime
import os
from gql import gql, Client
from gql.transport.aiohttp import AIOHTTPTransport
import chart

# Select your transport with a defined url endpoint
transport = AIOHTTPTransport(url="https://saturn.hasura.app/v1/graphql", headers={'x-hasura-admin-secret': 'Rc07SJt4ryC6RyNXDKFRAtFmRkGBbT8Ez3SdaEYsHQoHemCldvs52Kc803oK8X62'})

# Create a GraphQL client using the defined transport
client = Client(transport=transport, fetch_schema_from_transport=True)

async def get_stored_data(symbol,timeframe):
    # Provide a GraphQL query
    split_symbol=symbol.split('/')
    base_currency=split_symbol[0]
    quote_currency=split_symbol[1]
    table=base_currency+quote_currency+'_'+timeframe
    if table=='BTCUSD_1d':
        query = gql(
            """
            query MyQuery {
                BTCUSD_1d {
                    unix
                    close
                    high
                    low
                    open
                }
            }
        """
        )
    elif table=='ETHUSD_1d':
        query = gql(
            """
            query MyQuery {
                ETHUSD_1d {
                    unix
                    close
                    high
                    low
                    open
                }
            }
        """
        )
    elif table=='ETHBTC_1d':
        query = gql(
            """
            query MyQuery {
                ETHBTC_1d {
                    unix
                    close
                    high
                    low
                    open
                }
            }
        """
        )
    else:
        return 'no such table'

    # Execute the query on the transport
    result = await client.execute_async(query)
    candles=result[table]
    df=pd.DataFrame({},columns=['unix','close','high','low','open'])
    for candle in candles:
        df=df.append(candle,ignore_index=True)

    return df.sort_values(by=['unix'], ignore_index=True)

    return result

def find_start(timestamps):
    start_found=False
    timestamps=list(map(lambda x:x[0]/1000,timestamps))
    index=len(timestamps)-1
    while not(start_found):
        print(timestamps[index])
        day=date.fromtimestamp(timestamps[index]).weekday()
        if day==0:
            start_found=True
        else:   
            index=index-1
    return index

def read_data(filename):
    raw=pd.read_csv('data/'+filename)
    timestamps=raw['unix']
    for i in range(len(timestamps)):
        if np.log10(timestamps.iloc[i])<12:
            raw.loc[i,'unix']=timestamps[i]*1000
    return raw.sort_values(by=['unix'], ignore_index=True)

# Creating Heikin Ashi candles
First we must download the candlestick data

In [27]:
eth=await get_stored_data('ETH/USD','1d')
weekly_candles=price.get_price_data('1w',data=eth)
weekly_candles

             unix     open     high       low     close
0    1.458432e+12    15.07    15.07     8.338    10.180
1    1.459037e+12    10.18    12.47    10.140    10.400
2    1.459642e+12    10.40    12.30    10.400    11.750
3    1.460246e+12    11.60    11.67     7.520     8.757
4    1.460851e+12     8.56    10.90     6.855     9.455
..            ...      ...      ...       ...       ...
302  1.641082e+12  4066.20  4128.90  3582.600  3829.200
303  1.641686e+12  3829.20  3896.00  2998.000  3150.800
304  1.642291e+12  3150.80  3413.70  2921.800  3348.300
305  1.642896e+12  3348.30  3359.20  2300.000  2540.500
306  1.642982e+12  2540.50  2541.00  2527.700  2527.900

[307 rows x 5 columns]

In [6]:
weekly_candles.iloc[-1][["open","high","low","close"]].values

array([3348.3, 3359.2, 2463.4, 2600.3])

Then we define a function to convert each candle stick into Heikin Ashi Candlestick

In [37]:
def heikin_ashi(previous_open, previous_close, candle):
    price_values = candle[["open","high","low","close"]]
    print(price_values)
    close = np.mean(price_values)
    open_price = 0.5*(previous_open+previous_close)
    high=max(price_values)
    low = min(price_values)

    return  candle["unix"], open_price, high, close, low

def convert_data_to_heikin_ashi(data):
    timestamps, opens, closes, highs, lows  = [0], [0],[0],[0],[0]
    #initialise values
    for i in range(1,len(data)):
        timestamp, open_price, high, close, low = heikin_ashi(opens[-1], closes[-1],data.iloc[i])
        timestamps.append(timestamp)
        opens.append(open_price)
        highs.append(high)
        lows.append(low)
        closes.append(close)

    return pd.DataFrame({'unix':timestamps,'open':opens,'high':highs,'low':lows,'close':closes}).sort_values(by=['unix'], ignore_index=True)

Then we convert weekly candles and observe

In [38]:
convert_data_to_heikin_ashi(weekly_candles)

open     10.18
high     12.47
low      10.14
close    10.40
Name: 1, dtype: float64
open     10.40
high     12.30
low      10.40
close    11.75
Name: 2, dtype: float64
open     11.600
high     11.670
low       7.520
close     8.757
Name: 3, dtype: float64
open      8.560
high     10.900
low       6.855
close     9.455
Name: 4, dtype: float64
open     9.302
high     9.550
low      7.730
close    8.097
Name: 5, dtype: float64
open     8.050
high     9.360
low      7.120
close    8.752
Name: 6, dtype: float64
open      8.828
high     10.300
low       8.789
close     9.500
Name: 7, dtype: float64
open      9.510
high     11.110
low       9.252
close     9.966
Name: 8, dtype: float64
open     10.01
high     14.89
low      10.00
close    14.21
Name: 9, dtype: float64
open     14.21
high     14.49
low      10.38
close    12.41
Name: 10, dtype: float64
open     12.44
high     14.30
low      12.30
close    13.95
Name: 11, dtype: float64
open     14.00
high     16.09
low      13.56
close    15.80
Name: 12, dtype: float64
open     15.75
high     21.69
low      10.13
close    12.43
Name: 13, dtype: float64
open     12.33
high     15.90
low      10.51
close    13.75
Name: 14, dtype: float64
open     13.71
high     14.19
low      11.51
close    11.78
Name: 15, dtype: float64
open     11.650
high     11.850
low       9.353
close    10.950
Name: 16, dtype: float64
open     10.95
high     12.55
low      10.20
close    11.24
Name: 17, dtype: float64
open     11.31
high     15.15
low      11.01
close    12.65
Name: 18, dtype: float64
open     12.86
high     13.86
low      11.30
close    11.86
Name: 19, dtype: float64
open     12.00
high     12.04
low       9.90
close    10.16
Name: 20, dtype: float64
open     10.16
high     12.33
low      10.16
close    11.16
Name: 21, dtype: float64
open     11.16
high     11.30
low      10.61
close    11.13
Name: 22, dtype: float64
open     11.20
high     11.42
low      10.90
close    10.94
Name: 23, dtype: float64
open     10.94
high     12.60
low      10.78
close    11.73
Name: 24, dtype: float64
open     11.73
high     12.30
low      11.26
close    11.68
Name: 25, dtype: float64
open     11.80
high     13.10
low      11.67
close    12.32
Name: 26, dtype: float64
open     12.49
high     15.40
low      12.47
close    13.05
Name: 27, dtype: float64
open     13.14
high     13.49
low      12.81
close    13.16
Name: 28, dtype: float64
open     13.22
high     13.50
low      11.99
close    12.01
Name: 29, dtype: float64
open     12.03
high     12.33
low      11.60
close    11.98
Name: 30, dtype: float64
open     11.98
high     12.91
low      11.81
close    12.07
Name: 31, dtype: float64
open     12.07
high     12.23
low       9.50
close    11.28
Name: 32, dtype: float64
open     11.28
high     11.50
low      10.41
close    10.91
Name: 33, dtype: float64
open     10.91
high     11.21
low       9.68
close    10.08
Name: 34, dtype: float64
open     10.080
high     10.500
low       9.455
close     9.571
Name: 35, dtype: float64
open      9.538
high     10.260
low       8.700
close     8.877
Name: 36, dtype: float64
open     8.970
high     9.017
low      7.100
close    7.546
Name: 37, dtype: float64
open     7.405
high     8.845
low      5.861
close    8.190
Name: 38, dtype: float64
open     8.195
high     8.626
low      7.473
close    7.930
Name: 39, dtype: float64
open     7.930
high     7.962
low      7.109
close    7.226
Name: 40, dtype: float64
open     7.110
high     8.600
low      7.050
close    8.204
Name: 41, dtype: float64
open      8.191
high     11.700
low       8.114
close    10.280
Name: 42, dtype: float64
open     10.430
high     10.840
low       9.082
close     9.805
Name: 43, dtype: float64
open      9.720
high     11.090
low       9.533
close    10.640
Name: 44, dtype: float64
open     10.64
high     10.83
low      10.35
close    10.46
Name: 45, dtype: float64
open     10.44
high     11.40
low      10.38
close    11.18
Name: 46, dtype: float64
open     11.18
high     11.60
low      10.41
close    11.26
Name: 47, dtype: float64
open     11.33
high     13.40
low      11.05
close    12.80
Name: 48, dtype: float64
open     12.80
high     14.66
low      12.25
close    14.57
Name: 49, dtype: float64
open     14.57
high     20.73
low      14.30
close    19.35
Name: 50, dtype: float64
open     19.35
high     23.23
low      16.25
close    23.20
Name: 51, dtype: float64
open     23.20
high     51.88
low      23.20
close    43.17
Name: 52, dtype: float64
open     43.17
high     58.99
low      38.51
close    50.46
Name: 53, dtype: float64
open     50.46
high     54.30
low      46.82
close    48.60
Name: 54, dtype: float64
open     48.60
high     48.60
low      41.05
close    43.94
Name: 55, dtype: float64
open     43.94
high     51.51
low      43.01
close    49.58
Name: 56, dtype: float64
open     49.58
high     54.44
low      45.00
close    53.33
Name: 57, dtype: float64
open     53.33
high     84.00
low      53.00
close    83.51
Name: 58, dtype: float64
open      83.51
high     101.70
low       66.00
close     94.21
Name: 59, dtype: float64
open     94.21
high     95.48
low      77.76
close    90.37
Name: 60, dtype: float64
open      90.37
high     146.40
low       83.77
close    146.14
Name: 61, dtype: float64
open     146.14
high     206.06
low      110.42
close    161.91
Name: 62, dtype: float64
open     161.91
high     245.98
low      155.01
close    241.06
Name: 63, dtype: float64
open     241.06
high     347.00
low      231.72
close    336.33
Name: 64, dtype: float64
open     336.33
high     412.21
low      265.00
close    348.88
Name: 65, dtype: float64
open     348.88
high     366.52
low      253.20
close    277.00
Name: 66, dtype: float64
open     277.00
high     318.27
low      204.11
close    277.64
Name: 67, dtype: float64
open     277.64
high     283.98
low      226.68
close    234.97
Name: 68, dtype: float64
open     234.97
high     238.01
low      136.12
close    157.40
Name: 69, dtype: float64
open     157.40
high     258.00
low      155.00
close    228.15
Name: 70, dtype: float64
open     228.15
high     232.56
low      176.95
close    195.31
Name: 71, dtype: float64
open     195.31
high     271.50
low      188.12
close    264.29
Name: 72, dtype: float64
open     264.29
high     319.78
low      257.32
close    296.64
Name: 73, dtype: float64
open     296.64
high     312.00
low      272.29
close    298.37
Name: 74, dtype: float64
open     298.37
high     348.01
low      285.01
close    348.01
Name: 75, dtype: float64
open     348.01
high     395.03
low      325.10
close    350.63
Name: 76, dtype: float64
open     350.63
high     351.59
low      267.64
close    297.90
Name: 77, dtype: float64
open     297.90
high     316.73
low      198.00
close    257.00
Name: 78, dtype: float64
open     257.00
high     299.89
low      251.52
close    282.00
Name: 79, dtype: float64
open     282.00
high     315.51
low      280.50
close    304.26
Name: 80, dtype: float64
open     304.26
high     315.00
low      285.12
close    309.82
Name: 81, dtype: float64
open     309.82
high     350.00
low      287.03
close    337.23
Name: 82, dtype: float64
open     337.23
high     355.00
low      287.46
close    293.55
Name: 83, dtype: float64
open     293.55
high     312.49
low      273.50
close    304.39
Name: 84, dtype: float64
open     304.39
high     314.40
low      275.21
close    295.63
Name: 85, dtype: float64
open     295.63
high     328.80
low      285.01
close    303.90
Name: 86, dtype: float64
open     303.9
high     371.0
low      302.4
close    354.7
Name: 87, dtype: float64
open     354.70
high     481.99
low      350.00
close    464.00
Name: 88, dtype: float64
open     464.00
high     517.00
low      385.40
close    459.49
Name: 89, dtype: float64
open     459.49
high     487.80
low      390.00
close    429.24
Name: 90, dtype: float64
open     429.24
high     760.00
low      429.14
close    708.78
Name: 91, dtype: float64
open     708.78
high     863.00
low      492.01
close    659.89
Name: 92, dtype: float64
open     659.89
high     766.06
low      640.43
close    736.77
Name: 93, dtype: float64
open      736.77
high     1116.00
low       717.94
close    1115.80
Name: 94, dtype: float64
open     1115.80
high     1424.30
low       966.64
close    1349.70
Name: 95, dtype: float64
open     1349.7
high     1377.9
low       770.0
close    1047.7
Name: 96, dtype: float64
open     1047.70
high     1265.00
low       905.21
close    1245.50
Name: 97, dtype: float64
open     1245.5
high     1260.0
low       768.0
close     825.3
Name: 98, dtype: float64
open     825.30
high     909.04
low      565.54
close    810.46
Name: 99, dtype: float64
open     810.46
high     979.00
low      810.18
close    913.13
Name: 100, dtype: float64
open     913.13
high     959.00
low      787.00
close    838.47
Name: 101, dtype: float64
open     838.47
high     895.00
low      830.33
close    866.06
Name: 102, dtype: float64
open     866.06
high     870.00
low      637.63
close    719.86
Name: 103, dtype: float64
open     719.86
high     739.85
low      452.32
close    536.73
Name: 104, dtype: float64
open     536.73
high     590.11
low      504.58
close    522.41
Name: 105, dtype: float64
open     522.41
high     525.37
low      358.00
close    378.67
Name: 106, dtype: float64
open     378.67
high     417.88
low      363.00
close    400.33
Name: 107, dtype: float64
open     400.33
high     534.18
low      387.27
close    534.04
Name: 108, dtype: float64
open     534.04
high     646.80
low      499.33
close    621.11
Name: 109, dtype: float64
open     621.11
high     712.00
low      596.10
close    689.93
Name: 110, dtype: float64
open     689.93
high     838.00
low      627.42
close    793.79
Name: 111, dtype: float64
open     793.79
high     797.98
low      637.12
close    728.78
Name: 112, dtype: float64
open     728.78
high     742.72
low      657.59
close    715.50
Name: 113, dtype: float64
open     715.50
high     720.00
low      539.33
close    569.00
Name: 114, dtype: float64
open     569.00
high     628.99
low      492.50
close    619.40
Name: 115, dtype: float64
open     619.40
high     625.04
low      496.27
close    523.55
Name: 116, dtype: float64
open     523.55
high     544.25
low      450.10
close    497.08
Name: 117, dtype: float64
open     497.08
high     548.80
low      421.00
close    455.32
Name: 118, dtype: float64
open     455.32
high     474.42
low      404.99
close    452.03
Name: 119, dtype: float64
open     452.03
high     496.36
low      443.10
close    486.10
Name: 120, dtype: float64
open     486.10
high     487.89
low      417.80
close    449.90
Name: 121, dtype: float64
open     449.90
high     515.28
low      439.52
close    457.99
Name: 122, dtype: float64
open     457.99
high     485.28
low      446.00
close    466.47
Name: 123, dtype: float64
open     466.47
high     469.93
low      397.84
close    408.75
Name: 124, dtype: float64
open     408.75
high     413.98
low      305.00
close    318.16
Name: 125, dtype: float64
open     318.16
high     323.55
low      249.93
close    299.37
Name: 126, dtype: float64
open     299.37
high     304.09
low      259.20
close    274.34
Name: 127, dtype: float64
open     274.34
high     302.70
low      271.39
close    295.23
Name: 128, dtype: float64
open     295.23
high     296.50
low      185.12
close    196.04
Name: 129, dtype: float64
open     196.04
high     228.08
low      167.32
close    220.16
Name: 130, dtype: float64
open     220.16
high     255.00
low      192.50
close    244.70
Name: 131, dtype: float64
open     244.70
high     245.90
low      202.32
close    232.86
Name: 132, dtype: float64
open     232.86
high     235.75
low      214.60
close    226.28
Name: 133, dtype: float64
open     226.28
high     234.90
low      188.35
close    196.75
Name: 134, dtype: float64
open     196.75
high     242.62
low      194.49
close    207.29
Name: 135, dtype: float64
open     207.29
high     210.50
low      202.53
close    204.97
Name: 136, dtype: float64
open     204.97
high     218.92
low      193.04
close    212.30
Name: 137, dtype: float64
open     212.30
high     225.12
low      206.28
close    212.99
Name: 138, dtype: float64
open     212.99
high     215.00
low      171.36
close    178.96
Name: 139, dtype: float64
open     178.96
high     178.99
low      102.96
close    118.72
Name: 140, dtype: float64
open     118.72
high     127.87
low      102.20
close    117.12
Name: 141, dtype: float64
open     117.12
high     117.53
low       83.00
close     96.03
Name: 142, dtype: float64
open     96.03
high     98.02
low      83.17
close    86.56
Name: 143, dtype: float64
open      86.56
high     138.94
low       86.21
close    133.76
Name: 144, dtype: float64
open     133.76
high     163.50
low      116.30
close    144.18
Name: 145, dtype: float64
open     144.18
high     167.00
low      132.05
close    160.84
Name: 146, dtype: float64
open     160.84
high     162.76
low      116.10
close    117.94
Name: 147, dtype: float64
open     117.94
high     134.50
low      107.51
close    119.10
Name: 148, dtype: float64
open     119.10
high     122.12
low      112.16
close    113.43
Name: 149, dtype: float64
open     113.43
high     114.45
low      103.20
close    108.63
Name: 150, dtype: float64
open     108.63
high     128.16
low      102.49
close    127.37
Name: 151, dtype: float64
open     127.37
high     139.50
low      119.22
close    136.15
Name: 152, dtype: float64
open     136.15
high     170.00
low      134.59
close    135.22
Name: 153, dtype: float64
open     135.22
high     144.78
low      128.80
close    133.23
Name: 154, dtype: float64
open     133.23
high     143.83
low      125.88
close    138.20
Name: 155, dtype: float64
open     138.20
high     147.50
low      130.55
close    141.71
Name: 156, dtype: float64
open     141.71
high     144.88
low      135.00
close    137.81
Name: 157, dtype: float64
open     137.81
high     149.17
low      132.67
close    143.78
Name: 158, dtype: float64
open     143.78
high     181.33
low      141.00
close    176.62
Name: 159, dtype: float64
open     176.62
high     187.98
low      160.20
close    169.08
Name: 160, dtype: float64
open     169.08
high     179.17
low      156.42
close    170.60
Name: 161, dtype: float64
open     170.60
high     178.42
low      148.88
close    163.13
Name: 162, dtype: float64
open     163.13
high     181.21
low      157.01
close    171.01
Name: 163, dtype: float64
open     171.01
high     203.60
low      167.62
close    188.25
Name: 164, dtype: float64
open     188.25
high     279.00
low      186.00
close    260.29
Name: 165, dtype: float64
open     260.29
high     273.52
low      229.70
close    268.50
Name: 166, dtype: float64
open     268.50
high     289.42
low      239.86
close    269.40
Name: 167, dtype: float64
open     269.40
high     270.62
low      226.01
close    231.30
Name: 168, dtype: float64
open     231.30
high     279.48
low      227.45
close    268.63
Name: 169, dtype: float64
open     268.63
high     322.00
low      260.01
close    308.56
Name: 170, dtype: float64
open     308.56
high     363.30
low      275.60
close    290.80
Name: 171, dtype: float64
open     290.80
high     311.00
low      272.65
close    306.54
Name: 172, dtype: float64
open     306.54
high     318.30
low      222.58
close    226.19
Name: 173, dtype: float64
open     226.19
high     235.27
low      191.00
close    225.04
Name: 174, dtype: float64
open     225.04
high     228.00
low      197.70
close    210.92
Name: 175, dtype: float64
open     210.92
high     225.69
low      203.47
close    222.41
Name: 176, dtype: float64
open     222.41
high     240.00
low      200.68
close    217.00
Name: 177, dtype: float64
open     217.00
high     217.47
low      174.20
close    194.90
Name: 178, dtype: float64
open     194.90
high     203.95
low      180.00
close    186.31
Name: 179, dtype: float64
open     186.31
high     194.26
low      164.12
close    171.25
Name: 180, dtype: float64
open     171.25
high     184.90
low      165.30
close    181.96
Name: 181, dtype: float64
open     181.96
high     191.37
low      174.37
close    189.64
Name: 182, dtype: float64
open     189.64
high     224.79
low      188.83
close    211.26
Name: 183, dtype: float64
open     211.26
high     212.21
low      153.12
close    169.87
Name: 184, dtype: float64
open     169.87
high     186.56
low      165.56
close    170.56
Name: 185, dtype: float64
open     170.56
high     198.00
low      169.01
close    181.57
Name: 186, dtype: float64
open     181.57
high     189.00
low      167.97
close    176.11
Name: 187, dtype: float64
open     176.11
high     199.08
low      153.21
close    184.58
Name: 188, dtype: float64
open     184.58
high     193.65
low      177.23
close    182.19
Name: 189, dtype: float64
open     182.19
high     195.21
low      180.50
close    189.68
Name: 190, dtype: float64
open     189.68
high     190.89
low      177.09
close    184.53
Name: 191, dtype: float64
open     184.53
high     185.04
low      138.33
close    141.18
Name: 192, dtype: float64
open     141.18
high     158.85
low      133.58
close    151.84
Name: 193, dtype: float64
open     151.84
high     155.21
low      144.15
close    151.41
Name: 194, dtype: float64
open     151.41
high     152.04
low      140.00
close    143.11
Name: 195, dtype: float64
open     143.11
high     143.39
low      116.72
close    132.77
Name: 196, dtype: float64
open     132.77
high     138.63
low      122.77
close    134.90
Name: 197, dtype: float64
open     134.90
high     138.45
low      126.36
close    135.60
Name: 198, dtype: float64
open     135.60
high     147.98
low      135.09
close    146.34
Name: 199, dtype: float64
open     146.34
high     178.97
low      142.24
close    166.80
Name: 200, dtype: float64
open     166.80
high     171.32
low      155.76
close    168.16
Name: 201, dtype: float64
open     168.16
high     194.00
low      165.45
close    188.69
Name: 202, dtype: float64
open     188.69
high     230.00
low      184.79
close    228.23
Name: 203, dtype: float64
open     228.23
high     287.32
low      216.10
close    258.92
Name: 204, dtype: float64
open     258.92
high     287.00
low      243.01
close    275.59
Name: 205, dtype: float64
open     275.59
high     278.19
low      210.78
close    218.57
Name: 206, dtype: float64
open     218.57
high     252.99
low      196.39
close    200.20
Name: 207, dtype: float64
open     200.20
high     209.53
low       89.66
close    124.25
Name: 208, dtype: float64
open     124.25
high     153.72
low      101.20
close    122.30
Name: 209, dtype: float64
open     122.30
high     143.83
low      119.58
close    124.76
Name: 210, dtype: float64
open     124.76
high     150.51
low      124.52
close    142.98
Name: 211, dtype: float64
open     142.98
high     176.00
low      142.94
close    159.04
Name: 212, dtype: float64
open     159.04
high     189.89
low      148.59
close    180.59
Name: 213, dtype: float64
open     180.59
high     199.68
low      166.64
close    197.50
Name: 214, dtype: float64
open     197.50
high     226.82
low      189.60
close    209.91
Name: 215, dtype: float64
open     209.91
high     217.12
low      179.44
close    187.71
Name: 216, dtype: float64
open     187.71
high     210.00
low      175.72
close    206.90
Name: 217, dtype: float64
open     206.90
high     217.00
low      191.70
close    199.51
Name: 218, dtype: float64
open     199.51
high     247.00
low      196.70
close    231.64
Name: 219, dtype: float64
open     231.64
high     253.69
low      225.79
close    244.73
Name: 220, dtype: float64
open     244.73
high     250.53
low      225.96
close    231.90
Name: 221, dtype: float64
open     231.90
high     237.85
low      218.20
close    227.80
Name: 222, dtype: float64
open     227.80
high     249.77
low      216.00
close    225.32
Name: 223, dtype: float64
open     225.12
high     233.21
low      221.36
close    227.94
Name: 224, dtype: float64
open     227.94
high     249.20
low      227.22
close    243.08
Name: 225, dtype: float64
open     243.08
high     245.62
low      229.35

             unix         open     high       low       close
0    0.000000e+00     0.000000     0.00     0.000     0.00000
1    1.459037e+12     0.000000    12.47    10.140    10.79750
2    1.459642e+12     5.398750    12.30    10.400    11.21250
3    1.460246e+12     8.305625    11.67     7.520     9.88675
4    1.460851e+12     9.096187    10.90     6.855     8.94250
..            ...          ...      ...       ...         ...
302  1.641082e+12  4031.798491  4128.90  3582.600  3901.72500
303  1.641686e+12  3966.761745  3896.00  2998.000  3468.50000
304  1.642291e+12  3717.630873  3413.70  2921.800  3208.65000
305  1.642896e+12  3463.140436  3359.20  2300.000  2887.00000
306  1.642982e+12  3175.070218  2541.00  2527.700  2534.27500

[307 rows x 5 columns]

In [26]:
weekly_candles

             unix     open     high       low     close
0    1.458432e+12    15.07    15.07     8.338    10.180
1    1.459037e+12    10.18    12.47    10.140    10.400
2    1.459642e+12    10.40    12.30    10.400    11.750
3    1.460246e+12    11.60    11.67     7.520     8.757
4    1.460851e+12     8.56    10.90     6.855     9.455
..            ...      ...      ...       ...       ...
301  1.640477e+12  3925.40  4160.00  3752.000  4066.200
302  1.641082e+12  4066.20  4128.90  3582.600  3829.200
303  1.641686e+12  3829.20  3896.00  2998.000  3150.800
304  1.642291e+12  3150.80  3413.70  2921.800  3348.300
305  1.642378e+12  3348.30  3359.20  2463.400  2600.300

[306 rows x 5 columns]