In [2]:
import pandas as pd
from scipy.interpolate import interp1d
from scipy.stats import norm
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import price_data as price
import ccxt

In [3]:
ftx = ccxt.ftx({
    'apiKey': 'mFRyLR4AAhLTc5RlWov3PKTcIbMHw3vGZwiHnsrn',
    'secret': 'oKaY1WEqTuhnNnq0iRi_Ry-CYckvE89-gPUPf21B',
    'enableRateLimit': True,
})

In [4]:
price.get_price_data('1d',symbol='ETH/USD')
price.get_price_data('1h',symbol='ETH/USD')

               unix    open    high     low   close
0     1620298800000  3487.5  3529.3  3471.5  3528.8
1     1620302400000  3528.8  3533.0  3480.1  3496.5
2     1620306000000  3496.5  3498.2  3465.3  3485.2
3     1620309600000  3485.2  3519.9  3464.3  3510.8
4     1620313200000  3510.8  3584.4  3510.8  3554.7
...             ...     ...     ...     ...     ...
1496  1625684400000  2366.8  2373.2  2355.7  2366.8
1497  1625688000000  2366.8  2368.1  2356.4  2363.4
1498  1625691600000  2363.4  2363.8  2337.6  2347.4
1499  1625695200000  2347.4  2347.4  2311.8  2325.0
1500  1625698800000  2325.0  2325.1  2309.4  2309.6

[1501 rows x 5 columns]

In [17]:
ftx.has['createMarketOrder']

True

In [37]:
float(next(filter(lambda x: x['coin']=='USD',ftx.fetch_balance()['info']['result']))['total'])

668.59597612

In [39]:
next(filter(lambda x: x['future']=='ETH-PERP',ftx.fetch_positions()))

{'future': 'ETH-PERP',
 'size': '0.002',
 'side': 'buy',
 'netSize': '0.002',
 'longOrderSize': '0.0',
 'shortOrderSize': '0.0',
 'cost': '4.6332',
 'entryPrice': '2316.6',
 'unrealizedPnl': '0.0',
 'realizedPnl': '8.26295689',
 'initialMarginRequirement': '1.0',
 'maintenanceMarginRequirement': '0.03',
 'openSize': '0.002',
 'collateralUsed': '4.6332',
 'estimatedLiquidationPrice': '0.0'}